### ESXi Installation Script
### Tested with: {{iso_volume_id}}

## Accept the VMware End User License Agreement
vmaccepteula

# Set the root password
rootpw {{initial_password}}

# Clear paritions and install
clearpart --firstdisk --overwritevmfs
install --firstdisk --overwritevmfs

# Set the network to DHCP on the first network adapter
network --ip={{wan_interface_0_ipv4_ip_0_address}} --bootproto=static --gateway={{wan_interface_0_ipv4_ip_0_gateway}} --netmask={{wan_interface_0_ipv4_ip_0_mask}} --nameserver={{dns_server_ip_0}} --device={{wan_interface_0_mac_address}} --hostname={{instance_subdomain_permanent}}

## Reboot ESXi Host
reboot --noeject

%firstboot --interpreter=busybox

# enable & start SSH
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# enable & start ESXi Shell
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

# Suppress ESXi Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1

esxcli system hostname set --fqdn {{instance_subdomain_permanent}}

# esxcli system snmp set --port {{snmp_port}} --hwsrc indications --loglevel info --syslocation {{datacenter_name}}
# esxcli system snmp set --communities {{snmp_community_password}}
# esxcli system snmp set --enable true

sleep 1
poweroff

%post --interpreter=python --ignorefailure=true
import time
stampFile = open('/finished.stamp', mode='w')
stampFile.write( time.asctime() )