# Note: Proxmox unattended installation does not support bonded interfaces or tagged VLANs.
# Only physical interfaces are configured during installation.

[global]
keyboard = "en-us"
country = "us"
{%- if serverInstance and serverInstance.fqdn %}
  fqdn = "{{serverInstance.fqdn}}"
{%- else %}
  fqdn = "{{serverInstance.label}}.domain"
{%- endif %}

mailto = "mail@no.invalid"
timezone = "America/Chicago"
{% if serverInstance and serverInstance.osCredentials -%}
{%- if serverInstance.osCredentials.initialPasswordEncrypted %}
root_password = "{{serverInstance.osCredentials.initialPasswordEncrypted}}"
{%- else %}
root_password = "ProxmoxRocks!"
{%- endif %}
{%- endif %}

[network]
source = "from-answer"

{%- set interface_physical = [] %}
{%- if network and network.interfaces %}
  {%- for interface in network.interfaces %}
    {%- if interface.interfaceType == 'physical' %}
      {%- set interface_physical = (interface_physical.push(interface), interface_physical) %}
    {%- endif %}
  {%- endfor %}
{%- endif %}
{%- set interface_configured = false %}
{%- for interface in interface_physical %}
  {%- if not interface_configured %}
    {%- if interface.ipv4Addresses | length > 0 %}

cidr="{{interface.ipv4Addresses[0].cidr | default('192.168.1.100/24')}}"
      {%- if interface.routes and interface.routes | length > 0 and interface.routes[0].via %}
gateway="{{interface.routes[0].via}}"
      {%- endif %}
filter.ID_NET_NAME_MAC = "*{{ interface.macAddress | replace(":", "") | lower }}"
    {%- set interface_configured = true %}

    {%- elif interface.ipv6Addresses | length > 0 %}

cidr="{{interface.ipv6Addresses[0].cidr | default('192.168.1.100/24')}}"
      {%- if interface.ipv6Addresses[0].gateway %}
gateway="{{interface.ipv6Addresses[0].gateway}}"
      {%- endif %}
filter.ID_NET_NAME_MAC = "*{{ interface.macAddress | replace(":", "") | lower }}"
    {%- set interface_configured = true %}

    {%- else %}

cidr="192.168.1.100/24"
gateway="192.168.1.1"
filter.ID_NET_NAME_MAC = "*{{ interface.macAddress | replace(":", "") | lower }}"
    {%- set interface_configured = true %}

    {%- endif %}
  {%- endif %}
{%- endfor %}
{%- if not interface_configured %}
cidr="192.168.1.100/24"
gateway="192.168.1.1"
filter.ID_NET_NAME_MAC = "*{{ interface.macAddress | replace(":", "") | lower }}"
{%- endif %}

{%- if siteConfig and siteConfig.DNSServers and siteConfig.DNSServers | length > 0 %}
dns = "{{siteConfig.DNSServers[0]}}"
{%- else %}
dns = "8.8.8.8"
{%- endif %}

[disk-setup]
filesystem = "ext4"
lvm.swapsize = 0
lvm.maxvz = 0
disk_list = ['sda']

[first-boot]
source = "from-iso"
ordering = "before-network"
